---
import Layout from "../layouts/Layout.astro";
---
<Layout title="Piotr Łepkowski - Software Engineer - CV">
    <main class="lg:w-3/4 mx-[10%] lg:max-w-4xl text-slate-800 relative">
        <article>
            <section>
                <a href="/"><h1 class="text-4xl font-semibold leading-1">Piotr Łepkowski</h1>
                </a>
                <h2 class="text-2xl">Software engineer</h2>
            </section>
        </article>
        <section>
            <h2 class="mt-5 text-3xl">The latest and most interesting projects <span class="text-xs">(details on request)</span>
            </h2>
            <ul class="mt-4">
                <li class="my-4">
                    <h3 class="text-2xl">📈 Web Application for Trend Prediction Data Analysis</h3>
                    <h4 class="mt-2">Responsibilities</h4>
                    <ul class="my-2 list-disc ml-4">
                        <li>
                            Development of a user-centric interface to facilitate efficient data analysis, incorporating
                            data visualizations and interactive charts to enhance user insights.
                        </li>
                        <li>
                            Co-devised a robust data caching solution, significantly optimizing application performance
                            and reducing load times.
                        </li>
                        <li>
                            Worked collaboratively with a multi-disciplinary team, ensuring cohesive development and
                            alignment with user needs.
                        </li>
                    </ul>
                </li>

                <li class="my-4">
                    <h3 class="text-2xl">🏘Investment Strategy Optimization Platform for Real Estate Investors</h3>
                    <h4 class="mt-2">Responsibilities</h4>
                    <ul class="my-2 list-disc ml-4">
                        <li>
                            Orchestrated the comprehensive design and implementation of a user interface, ensuring clear
                            and impactful data presentation.
                        </li>
                        <li>
                            Integrated intricate map views, providing intuitive, location-based investment insights.
                        </li>
                        <li>
                            Ensured seamless integration with a backend delivering raw data.
                        </li>
                        <li>
                            Pivotal in shaping user experience, aligning functionality with client requirements and
                            contributing to end user success.
                        </li>
                    </ul>
                </li>
                <li class="my-4">
                    <h3 class="text-2xl">🗓 Real-Time Synchronized Multiplatform Task Management Application</h3>
                    <h4 class="mt-2">Responsibilities</h4>
                    <ul class="my-2 list-disc ml-4">
                        <li>
                            Led the development of a backend platform, ensuring synchronized task management across web,
                            desktop, and mobile applications.
                        </li>
                        <li>
                            Developing applications for each platform and ensuring seamless inter-platform
                            interoperability.
                        </li>
                        <li>
                            Managed integration with external platforms, facilitating enhanced functionality and data
                            consistency.
                        </li>
                    </ul>
                </li>

                <li class="my-4">
                    <h3 class="text-2xl">🎉 Rich interactive websites</h3>
                    <h4 class="mt-2">Responsibilities</h4>
                    <ul class="my-2 list-disc ml-4">
                        <li>
                            End-to-end website development, utilizing the latest technologies and adhering to current
                            standards.
                        </li>
                        <li>
                            Ensured a stellar user experience through meticulous attention to detail and a user-centric
                            design approach.
                        </li>
                        <li>
                            Delivered highly efficient, visually appealing, and functional digital solutions that cater
                            to user needs and business objectives.
                        </li>
                        <li>
                            Remained adaptive and innovative, ensuring digital solutions were at the forefront of
                            technological advancements.
                        </li>
                    </ul>
                </li>
            </ul>
        </section>
        <section>
            <h2 class="mt-5 text-3xl">The most commonly used technologies </h2>
            <h3 class="mt-2 text-xl">Programming Languages</h3>
            JavaScript, TypeScript
            <h3 class="mt-2 text-xl">Frameworks</h3>
            React/Next.js, Nest.js, Koa, ReactNative, Express, Astro, Remix

            <h3 class="mt-2 text-xl">Libraries/APIs/Technologies</h3>
            OpenAI, D3.js, Mapbox, Okta, NodeJs, Prisma, Electron, Supabase, TailwindCSS

        </section>
        <a href="/"
           class="mt-4 flex w-fit text-purple-500 relative before:w-full before:h-6 before:absolute before:bottom-0 hover:before:bg-purple-500 z-0 hover:text-yellow-500 hover:before:-z-10"
        >🔙 Back to Home</a>
        <aside class="mt-5 flex gap-2">
            <a
                    href="https://www.linkedin.com/in/lepkowski"
                    rel="noopener noreferrer"
                    target="_blank"
                    title="LinkedIn"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path
                            d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z"
                            fill="#1e293b">
                    </path>
                </svg>
            </a>
            <a href="https://github.com/ozrabal"
               rel="noopener noreferrer"
               target="_blank"
               title="Github"
            >
                <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                >
                    <path
                            d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z"
                            fill="#1e293b">
                    </path>
                </svg>
            </a>
            <a
                    href="mailto:ozrabal+www@gmail.com"
                    class="text-4sm relative before:w-full before:h-2 before:absolute before:bottom-0 hover:before:bg-amber-100 z-0 hover:before:-z-10"
            >@let's talk</a>
        </aside>
    </main>
</Layout>
