---
import {HTMLString} from "astro/dist/runtime/server";
export interface Props {
  title: HTMLString
}
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="google-site-verification" content="" />
    <meta http-equiv="Content-Security-Policy" content="
      default-src 'self';
      script-src 'unsafe-inline';
      style-src 'self' 'unsafe-inline' https://fonts.googleapis.com;
      font-src 'self' https://fonts.gstatic.com data:;
      img-src 'self' data: https://www.google-analytics.com;
      script-src-elem 'unsafe-inline' 'self' https://www.googletagmanager.com https://www.google-analytics.com;
      connect-src 'self' https://www.google-analytics.com https://*.analytics.google.com;
    ">
    <title>{title}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap"
      rel="stylesheet"
    />
    <meta property="og:url" content="https://webkowski.com" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Piotr Åepkowski - Software Engineer" />
    <meta property="og:description" content="Software developer with over 15 years of experience. I have a deep knowledge of various technologies and tools, proven track record of delivering successful projects. I am committed to creating high-quality software."/>
    <meta property="og:image" content="/images/og-image.png" />
    <meta name="description" content="Software developer with over 15 years of experience. I have a deep knowledge of various technologies and tools, proven track record of delivering successful projects. I am committed to creating high-quality software."/>

  </head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-8J7EG49QGS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-8J7EG49QGS');
  </script>
	<body class="flex items-center justify-left min-h-screen relative py-5">
    <slot />
    <div class="absolute bottom-0 right-0 m-4 text-xs text-gray-500"
       title="This site uses cookies to provide you with a great user experience. By using this site, you accept our use of cookies."
    >
      This site uses cookies
    </div>
  </body>
</html>
